<div ng-controller="homeCtl" class="row">
	<div class="pull-left">
		<ul class="list-group">
			<li class="list-group-item">
				<a ui-sref=".test1" ui-sref-active="active" href="#" 
					class="btn btn-warning btn-sm active" 
					role="button">第二级 test1</a>
			</li>
			<li class="list-group-item">
				<a ui-sref=".test2" ui-sref-active="active" href="#" 
					class="btn btn-warning btn-sm active" 
					role="button">第二级 test2</a>
			</li>
			<li class="list-group-item">
				<a ui-sref=".pageTab" ui-sref-active="active" href="#" 
					class="btn btn-primary btn-sm active" 
					role="button">第二级 pageTab</a>
			</li>
		</ul>
	</div>
	<div class="pull-left" style="padding-left: 50px;" ui-view></div>
</div>