<div ng-controller="mainBox">
	<div ui-view></div>
	<ul class="list-inline">
		<li>
			<a  ui-sref="home" ui-sref-active="active" 
				href="#"
				class="btn btn-primary btn-sm active" 
				role="button">home</a>
		</li>
		<li>
			<a  ui-sref="add" ui-sref-active="active"
				href="#"
				class="btn btn-warning btn-sm active" 
				role="button">add</a>
		</li>
		<li>
			<a  ui-sref="user" ui-sref-active="active"
				href="#"
				class="btn btn-success btn-sm active" 
				role="button">user</a>
		</li>
	</ul>
</div>